<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    h1{text-align: center;}
    h3{text-align: center;}
    div{text-align: center;}
  </style>
</head>
l<body style="background-color:#9eb1ff;">
  <h1> Cloud Computing and Big Data</h1> 
  <h1>Assignment 3 </h1>
  <h1 >Rudviq Bhavsar [1002091441] </h1> 
  <div style="background-color:white;width: 50%;margin-left: 25%;margin-top: 5%;">
    <br>
    <div>
        <a href="/">Home </a>
   </div>
<br> <br>
<div>
   <h3>with Redis</h3>
<form method='POST' action="/nrunredis">  
   No of iterations  <input type="number" name="n"> <br><br>

   <input type="submit" style="margin-bottom: 90px;">
</form>
</div>

</body>
</html>