<!doctype html>
<html>
	<head>
		<style>
			h1{text-align: center;}
            div{text-align: center;}
			a{font-size: 20px;}
			img{align-self: center;}

		</style>
	</head>
	<body style="background-color:#9eb1ff;">
		<h1> Cloud Computing and Big Data</h1> 
		<h1>Assignment 1 </h1>
		<h1 >Rudviq Bhavsar [1002091441] </h1> 
		 <br>


		<div><img src="./static/md.jpg" alt="Image not found"><div>
		<div class='container'>
			<a href="/showList">Click here to see all the people's details</a><br><br>
			<a href="/search_name">Search any individual with name</a><br><br>
			<a href="/updatekeyword">Update a Keyword using individual's name</a><br><br>
			<a href="/salrng">Check records based on Salary range</a><br><br>
			<a href="/changeSal">Update Salary using individual's name</a><br><br>
			<a href="/addImage">Add a Image using individual's name</a><br><br>
			<a href="/deleterec">Delete a record using individual's name</a><br><br>
			<a href="/regEx">Regular Expression</a><br><br>
			
		</div>
		
	
</html>