<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    h1{text-align: center;}
    div{text-align: center;
        background-color: white;
        width:50%;
        margin: auto;
        margin-top: 50px;}
    body{text-align: center;}
  </style>
</head>
l<body style="background-color:#9eb1ff;">
  <h1> Cloud Computing and Big Data</h1> 
  <h1>Assignment 2 </h1>
  <h1 >Rudviq Bhavsar [1002091441] </h1> 
   <br>
    <div>
          <!-- <a href="/">Homepage</a><br><br> -->
          <a href="/magcount">Magnitude greater than the input value</a><br><br>
		    	<a href="/magRange">Magnitude greater than the provided range</a><br><br>
			    <a href="/specLoc">Specified location</a><br><br>
			    <a href="/clust">Clustering</a><br><br>
		    	<a href="/nightNDay">Comparison between Night vs Day</a><br><br>
    </div>
</body>
</html>
